* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed';
  font-size: 25px;
  padding: 20px 60px;

  background: url(assets/bg/bg_gradient.png) no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #000;
}
